/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 10.11.2015, 2:32:59
    Author     : Uzivatel
*/
.row-xs-flex-center {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:flex;
    align-items:center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
@media ( min-width:768px ) {
    .row-sm-flex-center {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display:flex;
        align-items:center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
    }
}
@media ( min-width: 992px ) {
    .row-md-flex-center {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display:flex;
        align-items:center;
        -webkit-align-items: center;
        justify-content: center;
        -webkit-justify-content: center;
    }
}
@media ( min-width: 1200px ) {
    .row-lg-flex-center {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display:flex;
        align-items:center;
        -webkit-align-items: center;
        justify-content: center;
    }
}
.box-body hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}
.alert h4 small{
    color: #ffffff;
}